{% extends "base.html" %}

<!-- Announcement bar -->
{% block announce %}
<style>
  /* Preserve link color */
  .md-announce a,
  .md-announce a:focus,
  .md-announce a:hover {
    color: currentColor;
  }

  /* Don't wrap name of blog article */
  .md-announce strong {
    white-space: nowrap;
  }

  /* Heart icon */
  .md-announce .tx-heart {
    margin-right: 0.2em;
    color: #f44336;
  }
</style>
<a href="https://uptrace.dev">
  <span class="twemoji tx-heart">{% include ".icons/octicons/heart-fill-24.svg" %}</span>
  <span><strong>Uptrace.dev</strong> - distributed traces, logs, and errors in one place</span>
</a>
{% endblock %}
