{% extends "base.html" %}

<!-- Announcement bar -->
{% block announce %}
  <a href="https://uptrace.dev/?utm_source=pg&utm_campaign=pg-sponsor">
    <span class="twemoji tx-heart">{% include ".icons/octicons/heart-fill-24.svg" %}</span>
    Support go-pg development and monitor your app with
    <strong>distributed tracing</strong>
  </a>
{% endblock %}

{% block content %}
  {{ super() }}

  <footer style="margin-top: 2em">
    <a href="https://uptrace.dev/?utm_source=redis&utm_campaign=redis-banner1">
      <img src="https://raw.githubusercontent.com/uptrace/roadmap/master/banner1.png">
    </a>
  </footer>
{% endblock %}
